# FYERS App credentials
FYERS_CLIENT_ID=9DDUMWH0DM-200
FYERS_SECRET_KEY=aOEaliRu0ENIYr2n
FYERS_REDIRECT_URI=https://trade.fyers.in/api-login/redirect-uri/index.html

# Trading configuration
FYERS_SYMBOL=NSE:INFY-EQ
FYERS_QUANTITY=1
